
/* Test */
.container {
    color: red;
    height: 600px;
    width: 800px;
    background-image: url(../static/images/sunfloewr.png);
}

.testclass{
    font-size: 36px;
}
.testclass2{
    color: black;;
}
